<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1 class="product__title">
                <%= product.count %>
            </h1>
        </main>
        <%- include('../includes/end.ejs') %>